* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lora', serif;
    font-size: 12px;
    color: black;
    background-image: url(../library.jpg);
  }

  main {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom:1px;
    border-radius:6px;
    border: solid	#838FA7 3px;
    background-color: #896F5E;
  }

  section {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
  }

  .hidden {
      display: none;
  }
  
  select {
   font-size: 24px;
   font-family: 'Lora', serif;
   background-color: #fffae6;
   border: 2px solid #7d92ce;

  }

  .bookmark-list {
    list-style: none;
    padding: 0px;
  }

  h2 {
      margin: 0;
      padding:4px 0 0 4px;
  }
  .expanded h2{
    display: inline-block;
  }

  p {
      margin: 0;
      padding:12px 0 0 4px;
  }


  button:hover , li:hover, .filter-bookmark-dropdown:hover {
    cursor: pointer;
  }

  .bookmark-item {
      border: solid	#838FA7 2px;
      border-radius:6px;
      background-color: #fffae6;
      margin-bottom: 20px;
      height: 60px; 
      
  }
  .expanded {
      height:105px;
      font-size: 18px; 
  }

  .link-del-buttons {
      display: inline-block;
      text-align: right;
      width: 390px;
  }

  .expanded p {
      padding-top: 3px;
  }

  .link-del-buttons button {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }

  .delete-button {
      background-color: #e66833;
      
  }

  .link-button {
      background-color: #5C8D22;
  }
  

  div.expanded-rating {
    display: inline-block;  
    padding: 5px 0 0 4px;
  }

  .rating-radio {
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-top: 6px;
  }

  .link-del-buttons.edit-mode-del-link-buttons {
    width: 293px;
  }


  .align-right {
      text-align: right;
  }

  #add-bookmark-button {
    font-size: 24px;
    border-color: #838FA7;
    background-color: #fffae6;
  }
  #add-bookmark-button:hover, .filter-bookmark-dropdown:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 7px 8px 0 rgba(0,0,0,0.19);
  }

  button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-family: 'Lora', serif;
    background-color: #fffae6;
  }
  

  .add-and-filter {
    text-align: center;
  }

  .rating {
    color: #b29f34;
  }
  
  .edit-box {
    /* padding-left: 360px; */
    /* color: #6c8293; */
    font-size: 22px;
  }

  .input-text {
    width: 496px;
    font-size: 20px;
    font-family: 'Lora', serif;
    background-color: #fffae6;
  }

  .add-form-buttons {
    font-size: 20px;
    border: solid	#838FA7 2px;
    background-color: #fffae6;
  }