@media only screen and (max-width: 640px) {
    
    .link-del-buttons {
        display: block;
        text-align: center;
        width: 500px;
    }
    .link-del-buttons.edit-mode-del-link-buttons {
        width: 500px;
    }
    .edit-input{
        text-align: center;
    }

    .bookmark-item {
        text-align: center; 
        height: 75px;
    }
    .expanded {
        height: 145px;
        font-size: 20px;
    }
    body {
        font-size: 16px;
    }
    }