* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  section {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 75px;
  }

  .hidden {
      display: none;
  }

  .bookmark-list {
    list-style: none;
  }

  h2 {
      margin-bottom: 0;
  }

  button:hover {
    cursor: pointer;
  }