* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: gray;
    background-color: #ffffe6;
  }

  section {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
  }

  .hidden {
      display: none;
  }
  

  .bookmark-list {
    list-style: none;
    padding: 0px;
  }

  h2 {
      margin: 0;
      padding:4px 0 0 4px;
  }
  .expanded h2{
    display: inline-block;
  }

  p {
      margin: 0;
      padding:12px 0 0 4px;
  }


  button:hover , li:hover {
    cursor: pointer;
  }

  .bookmark-item {
      border: solid black 2px;
      border-radius:6px;
      background-color: white;
      margin-bottom: 20px;
      height: 60px; 
      
  }
  .expanded {
      height:100px;
      font-size: 18px; 
  }

  .link-del-buttons {
      display: inline-block;
      text-align: right;
      width: 335px;
  }

  .expanded p {
      padding-top: 3px;
  }
  div.expanded-rating {
    display: inline-block;  
    padding: 5px 0 0 4px;
  }

  .rating-radio {
    display: inline-block;
  }

  .align-right {
      text-align: right;
  }

  #add-bookmark-button {
    font-size: 24px;
  }
  #add-bookmark-button:hover {
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24), 0 7px 8px 0 rgba(0,0,0,0.19);
  }

  button {
    border: 2px solid aquamarine;
    border-radius: 12px;
  }
  

  .add-and-filter {
    text-align: center;
  }

  