* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  main {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 75px;
  }

  .hidden {
      display: none;
  }